.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.task-title{
    cursor: pointer;
}

.remove-task-button{
	font-size: 18px;
	color: red;
	cursor: pointer;
	margin-right: 5px;
}

.see-task-button {
	font-size: 18px;
    cursor: pointer;
}